* {
  box-sizing: border-box;
}

div {
  border: 1px solid black;
}

.main {
  width: 58%;
  font-size: 1em;
  position: relative;
  display: flex;
  overflow: hidden;
  max-width: 950px;
}

.main:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#hbox {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#vbox {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content {
  font-size: 5em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.grid {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(2, 1fr);
}

.grid:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.grid_item {
  display: absolute;

  width: 100%;
  height: 50%;
}

.text {
  font-size: 1rem;
  font-family: "Courier New", Courier, monospace;
  margin-top: 100px;
  min-width: 375px;
}

.page {
  font-size: 0.75rem;
  transform-origin: 0, 0;
  transform: rotate(90deg);
  margin: 0;
  display: inline;
  width: fit-content;
  height: fit-content;
}

.bottomText {
  font-size: 3.2vw;
  font-weight: 700;
}
