.border {
  width: 100px;
  height: 100px;

  /* 반지름을 입력해서 외곽선의 모서리를 깎는다. */
  border-radius: 10px;

  /* 외곽선을 그린다 */
  border: 1px solid black;

  /* 점선 외곽선 */
  border: 10px dashed red;

  /* 두줄 외곽선 */
  border: 10px double blue;

  /* 외곽선을 점으로 찍는다 */
  border: 10px dotted violet;

  /* 외곽선 삭제 */
  border: none;

  border-width: 10px;
  border-color: brown;
}
