* {
  box-sizing: border-box;
}

#mainBox {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

div {
  border: 1px solid black;
  margin: 0 0 0 0;
}

#mainBar {
  position: relative;
  background-image: url("/과제/0919/image/1.png");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  object-fit: cover;
  /* 위 코드 뭥미 */
  background-size: cover;
  background-repeat: no-repeat;

  width: 100vw;

  height: 90vh;
}

#selectPage {
  display: flex;
}

#menuBar {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgray;
  height: 6vh;
  align-items: center;
}

#selectPage {
  margin-right: 10rem;
  width: 13rem;
  justify-content: space-between;
}

#redLogo {
  position: relative;
  top: 10vh;
  left: 17vw;
  width: 14rem;
}

#title {
  color: rgb(205, 70, 47);
  font-weight: 700;
  font-size: 6rem;
}

#textBar {
  position: relative;
  top: 29vh;
  left: 51.5vw;
  width: fit-content;

  text-align: right;
}

#textBar > span {
  display: block;
  font-family: "Roboto Slab";
  line-height: 9vh;
  letter-spacing: -0.1rem;
}

#sub {
  color: white;
  font-weight: 600;
  font-size: 4.5rem;
}

.mainExplain {
  color: white;
  font-size: 0.85rem;
  font-style: italic;
  font-family: "Open sans";
}

.subExplain {
  color: black;
  font-size: 0.85rem;
  font-style: italic;
  font-family: "Open sans";
  line-height: 1.5rem;
}

.infoBar {
  position: relative;
  display: flex;
  flex-direction: row;
}

.btn {
  color: white;
  background-color: rgb(205, 70, 47);
  border-radius: 2rem;
  width: 9.5rem;
  height: 2.5rem;
  font-weight: bold;
}

span {
  display: block;
}

.subTitle {
  color: black;
  font-weight: 700;
  font-size: 3rem;
  line-height: 3rem;
  letter-spacing: -0.15rem;
}

.subTitle2 {
  margin-top: 1.2rem;
  color: black;
  font-weight: 300;
  font-size: 1.2rem;
  letter-spacing: 0.08rem;
}

pre {
  margin-top: 1rem;
}

.info1 {
  margin-left: 17vw;
  margin-top: 20vh;
  width: fit-content;
}

.info2Img {
  position: relative;
  width: 54rem;
  bottom: 10vh;
  left: 1vw;
}

#backlogo {
  position: relative;
}

#backlogo::before {
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url("/과제/0919/image/backlogo.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.info3Img {
  width: 60rem;
  height: 30rem;
  position: relative;

  right: 20rem;
}

.info2 {
  margin-top: 2rem;
  margin-left: 1rem;
}

.info2Hide {
  margin-top: 6rem;
  margin-left: 5rem;
  overflow: hidden;
}
#yotube {
  width: 50%;
  height: 315;
}
