body {
  padding: 5% 25% 5% 25%;
}

div {
  text-align: center;
  padding-bottom: -80%;
}

.list-group-item:first-child {
  margin-top: 15px;
}

.todo-list {
  padding: 10px;
}

.delBox {
  margin: 1rem;
}

.delButton {
  width: fit-content;
  height: 2rem;
  border-radius: 15px;
}

button {
  border: none;
}

/* #list {
  position: absolute;
  top: 20%;
  left: 25%;
  width: 50%;
} */
