/*--------------------
Body
--------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin: 0;
  background: #e4e4dd;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
svg {
  height: 100vh;
  
  text {
    font-size: 33px;
    font-family: Helvetica Neue, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 21px;
    fill: #333;
  }
}
