body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  height: 100%;
}

#board {
  flex: 1;
  height: 100%;
  overflow: auto;
  padding: 20px 50px;
}
#list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#list li {
  padding: 0;
  margin: 0;
  border: 1px solid bisque;
  width: 100%;
}
#list li div * {
  pointer-events: none;
}

#list li .title {
  width: 100%;
  padding: 10px;
  margin: 0;
  cursor: pointer;
  display: flex;
  background-color: blanchedalmond;
}
#list li .text {
  width: 100%;
  margin: 0;
  transition: padding 0.5s ease-in-out;
  display: flex;
}

#list li .text p {
  flex: 1;
  font-size: 0;

  transition: font-size 0.5s ease-in-out;
}

#list li .text.on {
  padding: 10px 30px 20px;
}

#list li .text.on p {
  font-size: 1rem;
}
h3 .issuer {
  margin-right: 1rem;
  font-size: 0.9rem;
  font-weight: 100;
  margin-top: 8px;
}
h3 {
  display: flex;
  justify-content: space-between;
}

#list li .text textarea {
  flex: 1;
  width: 100%;
  display: none;

  height: 100px;
  resize: none;
  pointer-events: auto;
}

#list li .text.on.edit p {
  display: none;
}

#list li .text.on.edit textarea {
  display: block;
}

#list li .title img {
  width: 30px;
  transform: scaleY(-1);
  transition: transform 0.5s ease-in-out;
}

#list li .title img.on {
  transform: scaleY(1);
}

#list li .title h3 {
  flex: 1;
}

#user-input-container {
  width: 50px;
  padding: 10px;
  background-color: beige;
  height: 100%;
  overflow: hidden;
  transition: width 0.5s ease-in-out;
}

#user-info {
  width: 280px;
}
#name,
#gender,
#age {
  display: none;
}
#sign-input,
#btn-box {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 3px;
}
#btn-box {
  display: flex;
  flex-direction: row;
}
#sign-up {
  display: none;
}
#sign-up-button {
  display: block;
}
#user-info input {
  padding: 5px;
  margin: 0 5px;
  width: 100%;
}

#user-info button {
  padding: 3px;
  margin: 5px 15px 15px;
}

#btn-box {
  justify-content: space-evenly;
}

#user-input-container.on {
  width: 300px;
}

#menu-btn-box {
  margin-bottom: 20px;
  display: flex;
  cursor: pointer;
}

#menu-btn {
  width: 30px;
}

#board-add {
  width: 280px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#user-input-container.on #board-add {
  opacity: 1;
}

label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#board-text {
  width: 100%;
  resize: none;
  padding: 10px;
}

#board-title {
  padding: 5px;
}

#page li {
  list-style: none;
  background-color: black;
  width: fit-content;
  color: white;
  font-weight: bold;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1rem;

  margin-right: 1rem;
  cursor: pointer;
  border: 3px solid gray;
  border-radius: 10px;
  padding: 8px;
}

#page {
  display: flex;
  padding: 10%;
  align-items: center;
  justify-content: center;
}

#page li.now {
  background-color: beige;
  color: black;
}

/* .text > div > img {
  width: 3rem;
}

.text > div {
  text-align: right;
} */

#list li .text .list-btn-box {
  display: none;
}

#list li .text.on .cancel {
  display: none;
}

#list li .text.on.edit .delete {
  display: none;
}

#list li .text.on.edit .cancel {
  display: block;
}

#list li .text .list-btn-box img {
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
  pointer-events: auto;
}
#list li .text.on .list-btn-box {
  display: flex;
}

.list-btn-box > img {
  animation: haha 1s;
}

@keyframes haha {
  0% {
    width: 10px;
  }
  100% {
    width: 30px;
  }
}

#login {
  padding: 15px;
  display: flex;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

#logOut {
  display: none;
}
#login .on {
  opacity: 0;
}

#user-name {
  padding: 5px;
  text-align: center;
}
